## DBMS

In [1]:
import pandas as pd
import matplotlib

In [2]:
%load_ext sql

In [3]:
%%sql sqlite:///foo1.db     #creating a Db

CREATE TABLE writer(first_name,last_name,year_of_death)   #creating a table writet

(sqlite3.OperationalError) near "#creating": syntax error [SQL: '#creating a Db\n\nCREATE TABLE writer(first_name,last_name,year_of_death)   #creating a table writet'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [4]:
%%sql
INSERT INTO writer VALUES('William','Shakespear',1616);
INSERT INTO writer VALUES('Bertold','Bretch',1956);
INSERT INTO writer VALUES('Wes','Mckinny',Null);

 * sqlite:///foo1.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
select * from writer

 * sqlite:///foo1.db
Done.

[('William', 'Shakespear', 1616),
 ('Bertold', 'Bretch', 1956),
 ('Wes', 'Mckinny', None),
 ('Anuj', 'Garg', None),
 ('William', 'Shakespear', 1616),
 ('Bertold', 'Bretch', 1956),
 ('Wes', 'Mckinny', None)]

In [6]:
%%sql
select last_name from writer

 * sqlite:///foo1.db
Done.

[('Shakespear',),
 ('Bretch',),
 ('Mckinny',),
 ('Garg',),
 ('Shakespear',),
 ('Bretch',),
 ('Mckinny',)]

In [7]:
%%sql
select first_name AS Name, last_name AS Surname from writer

 * sqlite:///foo1.db
Done.

[('William', 'Shakespear'),
 ('Bertold', 'Bretch'),
 ('Wes', 'Mckinny'),
 ('Anuj', 'Garg'),
 ('William', 'Shakespear'),
 ('Bertold', 'Bretch'),
 ('Wes', 'Mckinny')]

In [8]:
%%sql
select COUNT(first_name) from writer

 * sqlite:///foo1.db
Done.

[(7,)]

In [9]:
%%sql
select COUNT(first_name) from writer where year_of_death between 1600 and 2000

 * sqlite:///foo1.db
Done.

[(4,)]

In [10]:
%%sql
select first_name from writer where year_of_death < 1900

 * sqlite:///foo1.db
Done.

[('William',), ('William',)]

In [11]:
result = %sql select * from writer where year_of_death between 1600 and 2000

 * sqlite:///foo1.db
Done.

In [12]:
type(result)

sql.run.ResultSet

In [13]:
type(result.DataFrame())

pandas.core.frame.DataFrame

In [14]:
db = result.DataFrame()

In [15]:
type(db)

pandas.core.frame.DataFrame

In [16]:
db

  first_name   last_name  year_of_death
0    William  Shakespear           1616
1    Bertold      Bretch           1956
2    William  Shakespear           1616
3    Bertold      Bretch           1956

In [17]:
%%sql
INSERT INTO writer(first_name, last_name) VALUES("Anuj","Garg")

 * sqlite:///foo1.db
1 rows affected.

[]

## SQLAlchemy

In [18]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine('sqlite:///:memory:')  #making a ram object

### Declare a basic table

In [20]:
from sqlalchemy import *
metadata = MetaData()
c1 = Column('model',String)
c2 = Column('registration',String)
c3 = Column('odometer',Integer)
vehicles_table = Table('vehicles', metadata, c1, c2, c3)
vehicles_table

Table('vehicles', MetaData(bind=None), Column('model', String(), table=<vehicles>), Column('registration', String(), table=<vehicles>), Column('odometer', Integer(), table=<vehicles>), schema=None)

In [21]:
ins = vehicles_table.insert()

In [22]:
print(ins)

INSERT INTO vehicles (model, registration, odometer) VALUES (:model, :registration, :odometer)

In [23]:
ins = ins.values({'model':'Audi'})

In [24]:
print(ins)

INSERT INTO vehicles (model) VALUES (:model)

In [25]:
ins = ins.values({'odometer':400})

In [26]:
ins = ins.values({'registration':'2000'})

In [27]:
print(ins)

INSERT INTO vehicles (model, registration, odometer) VALUES (:model, :registration, :odometer)

In [28]:
engine.execute(ins)

OperationalError: (sqlite3.OperationalError) no such table: vehicles [SQL: 'INSERT INTO vehicles (model, registration, odometer) VALUES (?, ?, ?)'] [parameters: ('Audi', '2000', 400)] (Background on this error at: http://sqlalche.me/e/e3q8)